<div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to 2ndLife</h1>
        <p class="col-md-8 fs-4">Discover a marketplace that simplifies renting your belongings to others. Get started by registering on our platform today.</p>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-dark btn-lg" %>
      </div>
</div>
<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Unlock the power of sharing</h2>
          <p>Create your product in seconds! Just provide the name, description, and price, and you're ready to go. Share your items and start earning today!.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Stay organized effortlessly</h2>
          <p>Keep track of your bookings in one place. View, manage, and stay updated on all your reservations with ease. Your booking history, at your fingertips.</p>
        </div>
      </div>
</div>
