<div class="navbar">
  <%= link_to "2ndLife", root_path, class: "brand" %>
  <ul class="nav-menu">
    <!-- <li><a href="/">Home</a></li> -->
    <li><%= link_to "Products", products_path %></li>
    <li><%= link_to "Login", new_user_session_path %></li>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <!-- <li><a href="/properties">Properties</a></li> -->
    <!-- <li><a href="/about">About</a></li> -->
    <!-- <li class="dropdown">
      <a>Pages</a>
      <div class="dropdown-content">
        <a href="/home-v1">Home V1</a>
        <a href="/home-v2">Home V2</a>
        <a href="/home-v3">Home V3</a>
        <%# Add more dropdown items here %>
      </div>
    </li> -->
  </ul>
  <%# link_to "Login", class: "button-primary" %>
  <%# link_to "Sign Up", class: "button-primary" %>
</div>
  <%# <a href="/post-property" class="button-primary">Post a property</a> %>
